.dashboard-header-side-text{
    display: inline-block;
    font-size: 1.5vw;
    width: 30%;
    padding: 20px 0 20px 0;
}

#dashboard-header-main-text{
    display: inline-block;
    font-size: 1.5vw;
    width: 40%;
    padding: 20px 0 20px 0;
}

#dashboard-header-container{
    padding: 0;
    margin: 0;
    background-color: #161b22;
    border-bottom: 4px solid #0d1117;
}